<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Cropper
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
   

    <ion-button expand="full" (click)="captureImage()">
      Capture Image
    </ion-button>


    <!--<img *ngIf="myImage" [src]="myImage" />-->

    <image-cropper  *ngIf="myImage"
    [imageBase64]="myImage"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    (imageCropped)="imageCropped($event)"
    outputType="base64"
    ></image-cropper>

  </div>
</ion-content>
